<<<<<<< HEAD
.timeweather {
  /* display: flow-root;
  font-family: sans-serif;
  margin-left: -12;
  margin-right: 20,

 */

}

.toolbar {
  background-color: rgb(153, 101, 185);

=======
.toolbar {
  background-color: #373737;
>>>>>>> 07cd3c53a4f4faad8e2312bb62a40069cea3b34d
}
