body {
  background-color: #F3ECE7;
}

.grid {
  background-color: grey;
  opacity: .81;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-submit:hover, .form-login:hover {
   opacity: 0.6;
}
