body {
  background-color: #E7DFDD;
}

.login {
  position: relative;
  background-color: #36384C;
  color: white;
  height: 50px;
  width: 150px;
  font: Courier;
  font-family: monospace;
  position: absolute;
  left: 44%;
  top: 46%;
}

.Navbar {
  position: sticky;
}

.grid {
  background-color: grey;
  opacity: .81
}
