body {
  background-color: #F8F8FF;
}

.login {
  background-color: #214365;
  color: white;
  height: 50px;
  width: 150px;
}

.login2 {
  text-align: center;
  color: black;
}

.logo1 {

  text-align: center;
}

.logo2 {
  text-align: center;
}

.Navbar {
  position: sticky;
}

.grid {
  background-color: grey;
  opacity: .81;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 15%;
  background-position: center;
}

.signUp{
  background-image: url('../images/writing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
